/* CSS declarations go here */
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}

h1{
  font-weight: 300;
  font-size: 2.4rem;
}
h2{
  font-weight: 100;
  font-size: 1.4rem;
}


@import './components/titleBar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/form';
@import './components/player';
